html
{
  height: 100%;
  font-size: 100%;
}

body
{
  color: #222;
  font-family: Verdana, sans-serif;

  text-align: justify;
  width: 100%;
  height: 100%;
  margin: auto;
}

h1 { font-size: 2em; }
h2 { font-size:1.25em; }


#picture
{
  width: 100px;
  height: 100px;
}

#head
{
  width: 400px;
  height: 30%;
  min-height: 200px;
  max-height: 250px;
  margin: auto;
  
  /*background-color: silver;*/

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu
{ 
  width: 400px;
  height: 10%;
  min-height: 50px;
  margin: auto;

  /*background-color: teal;*/

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#main
{ 
  font-size: 1.0em;

  width: 60vw;
  height: 60%;
  margin: auto;

  min-width: 300px;
  min-height: 500px;
  max-width: 700px;
  
  /*background-color: rgb(240,96,204);*/

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media only screen and (min-width: 700px) {
  #main{
    background-color: silver; 
  }
} 